DJANGO_ENV="development"
SECRET_KEY="django-insecure-&9)-zi==)^@(ln)v70iujrk(amvmj1!l33l_j+dkbj(zrt6kpl"
DEBUG=True
ALLOWED_HOSTS="*"
DB_NAME="ai-football"
DB_USER="postgres"
DB_PASSWORD="0000"
DB_HOST="localhost"
DB_PORT="5432"
CORS_ALLOWED_ORIGINS="*"